<%- include('partials/header.ejs') %>

<div class="help-container">
  <h1>Welcome to the DayStory Help/Contribution Page!</h1>
  <br />
  <p>
    Thank you for your interest in contributing to DayStory! DayStory is a
    Node/Express application designed to help users discover historical events
    and information on a daily basis. Whether you're a history enthusiast, a
    developer, or just someone who loves to make things better, we welcome your
    contributions to this project.
  </p>
  <br />
  <h2>How You Can Contribute</h2>
  <br />
  <p>
    We welcome contributions of all kinds. Here are some ways you can help
    improve DayStory:
  </p>
  <br />
  <ol>
    <li>
      <span>Bug Reports:</span> If you find a bug or something that doesn't work
      as expected, please let us know! You can report issues
      <a href="https://github.com/rajmanna-dev/daystory" target="_blank">here</a
      >.
    </li>
    <li>
      <span>Feature Requests:</span> Have an idea for a new feature? We'd love
      to hear it! Suggest new features
      <a href="https://github.com/rajmanna-dev/daystory" target="_blank">here</a
      >.
    </li>
    <li>
      <span>Code Contributions:</span> If you're a developer, you can help by
      fixing bugs, implementing new features, or improving existing code. Please
      see our
      <a href="https://github.com/rajmanna-dev/daystory" target="_blank"
        >contribution guide</a
      >
      for more details.
    </li>
    <li>
      <span>Documentation:</span> Good documentation helps everyone. If you see
      something that could be explained better, or if you want to add new
      sections to the docs, your input is valuable.
    </li>
    <li>
      <span>Design and UI Improvements:</span> If you have experience in design,
      you can help us enhance the user interface and user experience.
    </li>
    <li>
      <span>Testing:</span> Help us ensure the app is reliable by writing and
      running tests.
    </li>
  </ol>
</div>

<%- include('partials/footer.ejs') %>
